/* Accordions */

@layer components {

    [data-accordion-content] {
        @apply overflow-hidden opacity-0 max-h-0 transition-all duration-300 ease-in-out;
    }

    .is-active [data-accordion-content] {
        max-height: 2000px;
        @apply opacity-100;
    }
}