/* Fonts */

/* Example */

/* 
@font-face {
    font-family: 'Font name';
    src: url('/fonts/font-file-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Font name';
    src: url('/fonts/font-file-semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
*/