/* Plugins */
@import '../../node_modules/swiper/swiper-bundle.min.css';

/* Base */
@import 'tailwindcss/base';
@import 'variables.css';
@import 'typography';
@import 'wysiwyg';
/* @import 'fonts'; */
/* @import "forms"; */

@import 'tailwindcss/components';
@import 'components/accordions';
@import 'components/buttons';
@import 'components/carousel';
@import './blinking.css';


@import 'tailwindcss/utilities';
@import 'space';

/* Base */

html,
body {
   /* Deactivate auto-enlargement of small text in Safari */
   text-size-adjust: 100%;
   /* Enable kerning and optional ligatures */
   text-rendering: optimizeLegibility;
}

a:not(.button, :has(*)) {
   @apply hover:text-primaryColour underline underline-offset-2 outline-none transition-all duration-300 ease-out;
}
