/* Typography */
@layer base {
   .heading {
      @apply font-extrabold leading-none tracking-[-0.02em];
   }
   .h1,
   h1 {
      @apply heading;
      font-size: var(--font-size-h1);
   }

   .h2,
   h2 {
      @apply heading;
      font-size: var(--font-size-h2);
   }

   .h3,
   h3 {
      @apply heading;
      font-size: var(--font-size-h3);
   }

   .h4,
   h4 {
      @apply heading;
      font-size: var(--font-size-h4);
   }
   .h5,
   h5 {
      @apply heading text-lg leading-[1.2];
   }
   p {
      font-size: var(--font-size-base);
      &.leading {
         font-size: clamp(1.25rem, calc(1.19rem + 0.26vw), 1.5rem);
      }
   }
   small,
   .small {
      font-size: var(--font-size-sm);
   }
   .remark {
      @apply text-[0.825rem] font-medium leading-[1.4];
   }
   blockquote {
      p {
         @apply relative;
         &:before {
            @apply absolute -left-2 top-0 content-['\201c'];
         }
         &:after {
            @apply content-['\201d'];
         }
      }
   }
}
